name: CI Builds

on:
  # execute on every PR made targeting the branches bellow
  pull_request:
    branches:
      - main

  # execute on every push
  push:

  # execute on trigger
  repository_dispatch:
    types: [examples-build]

jobs:
  build-osmp-examples:
    name: Build OSMP Examples
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Get CMake
        uses: lukka/get-cmake@latest

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('vcpkg.json', 'vcpkg-configuration.json', 'CMakePresets.json') }}

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: '**/examples/vcpkg.json'
          vcpkgConfigurationJsonGlob: '**/examples/vcpkg-configuration.json'

      - name: Build examples
        uses: lukka/run-cmake@v10
        env:
          VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
        with:
          cmakeListsTxtPath: "${{ github.workspace }}/examples/CMakeLists.txt"
          configurePreset: vcpkg
          buildPreset: vcpkg
          buildPresetAdditionalArgs: "['--config Release']"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Examples-${{ runner.os }}
          path: examples/build/**/*.fmu

  update_interface_release:
    name: Update OSI release
    runs-on: ubuntu-latest
    needs: [build-osmp-examples]
    if: ${{ github.event.client_payload }}
    steps:
      - name: Collect previous artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: Examples-*
          path: examples
      - name: Zip Windows
        uses: TheDoctor0/zip-release@0.7.6
        with: 
          filename: Examples-Windows.zip
          directory: examples
          path: examples-Windows
      - name: Zip Linux
        uses: TheDoctor0/zip-release@0.7.6
        with: 
          filename: Examples-Linux.zip
          directory: examples
          path: examples-Linux
      - name: Zip macOS
        uses: TheDoctor0/zip-release@0.7.6
        with: 
          filename: Examples-macOS.zip
          directory: examples
          path: examples-macOS
      - name: Upload artifacts to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.MACHINE_USER_PAT }}
          file_glob: true
          file: examples/Examples-*.zip
          tag: ${{ github.event.client_payload.tag }}
          repo_name: ${{ github.event.client_payload.source_repo }}
