name: Remote Tagging

on:
  repository_dispatch:
    types: [update-tag]
    
jobs:
  submodule:
    name: Update submodule and create tag
    runs-on: Ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: repo
          fetch-depth: 0 # test if depth in fetch history is required
      - name: Update submodule and push with tag
        run: |
          git submodule update --recursive --remote
          git add .
          git commit -m "git submodule updated"
          git tag ${{ github.event.client_payload.tag }}
          git push --atomic origin master ${{ github.event.client_payload.tag }}
      
    
